
.container{
  margin: 5px;
}
div.recovered,div.cases,div.death{
  margin: 15px;
  
}
.input-country{
 /* 
  */
  /* text-align: center; */
 display: flex;
 justify-content: center;
 padding-top: 20px;
  
}
 .header{
  width: 100%;
  padding-top: 10px;
  border-radius: 5px;
  
}
@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  image{
    width: 50%;
  }
}
